<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713967922183-4vmuunhb4m28hnuq110psppi1i8mkmrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713967922183-4vmuunhb4m28hnuq110psppi1i8mkmrv</string>
	<key>API_KEY</key>
	<string>AIzaSyDs7V7rOoaS6TciXBZd8T8Qp22iN7i9SHI</string>
	<key>GCM_SENDER_ID</key>
	<string>713967922183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.semana7-b</string>
	<key>PROJECT_ID</key>
	<string>airbnb-b-copy</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnb-b-copy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713967922183:ios:7f3be4f14947c0ea57cea2</string>
</dict>
</plist>